langchain
langchain-community
faiss-cpu
python-dotenv
transformers
sentence-transformers
bitsandbytes
mysql-connector-python
beautifulsoup4
emoji
numpy
fastapi
uvicorn
accelerate
pandas
evaluate
nltk
rouge_score
absl-py
bert_score